<footer class="footer">
    <div class="footer-container">
        <ul class="list">
            <li class="list-item"><a href="/contacto" class="list-item-a">Contacto</a></li>
            <li class="list-item"><a href="#" class="list-item-a">Preguntas Frecuentes</a></li>
            <li class="list-item"><a href="#" class="list-item-a">Suscribite</a></li>
        </ul>
    </div>
</footer>