<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/meta') %>
</head>

<body>

    <%- include('../partials/header') %>

    <div class="contacto container">
        <h2 class="section-title">Contacto</h2>
    
        <div class="form-container">
            <form action="" class="form-contacto">
                <input type="text" name="Nombre" placeholder="Nombre" class="input-a">
                <input type="email" name="E-mail" placeholder="E-mail" class="input-a">
                <textarea name="mensaje" placeholder="Tu mensaje" class="input-b"></textarea>
                <input type="button" value="Enviar" class="btn-form">
            </form>
        </div>        
    </div>

    <%- include('../partials/footer') %>
    
</body>

</html>